<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script>
    api_base_url = '/';
    function make_api_request(url, params) {
      var myHeaders = new Headers();

      var myInit = { method: 'GET',
                     headers: myHeaders,
                     mode: 'cors',
                     cache: 'default' };

      var params_string = '';
      if(params) {
        params_string = '?' + $.param(params);
      }

      var myRequest = new Request(api_base_url + 'api/' + url + params_string);

      return fetch(myRequest,myInit).then(function(response) {
        return response.json();
      });
    }

    window.addEventListener('load', function () {
      var recipes_vue = new Vue({
        el: '#recipes_list',
        data: {
          recipes: null,
          ingredients: null,
          ingredients_map: null,
          inventory: []
        },
        mounted: function () {
          var vm = this;
          console.log("Loading dynamic values");

          this.loadIngredients();
          make_api_request('recipes/', {'limit_to': ''}).then(function(recipes) {
            vm.recipes = _.orderBy(vm.recipes, ['label'])
          });
        },
        methods: {
          changeFilter: function(ingredient, event) {
            var vm = this;

            if(event.target.checked) {
              console.log("Adding ingredient " + ingredient)
              // Adding an ingredient
              make_api_request(
                'recipes/',
                {'limit_to': _.join(this.inventory, ','),
                 'has_ingredient': ingredient}
              ).then(function(new_recipes) {
                vm.recipes = _.orderBy(new_recipes, ['label']).concat(vm.recipes);
              });
            } else {
              console.log("Removing ingredient " + ingredient)
              _.remove(this.recipes, function(recipe) {
                return _.find(recipe.ingredients, {'id': ingredient, optional: false});
              });
            }

            this.loadIngredients();
          },
          fieldName: function(ingredient) {
            return 'ingredient_' + ingredient.id;
          },
          loadIngredients: function() {
            var vm = this;

            if(this.inventory.length >= 3) {
              // With 3 or more ingredients, start suggesting ingredients
              make_api_request(
                'ingredients/',
                {'suggest_with': _.join(this.inventory, ',')}
              ).then(function(new_ingredients) {
                // Pick out the ingredients that are checked to show at top
                checkedIngredients = _(vm.ingredients)
                    .keyBy('id')
                    .at(vm.inventory).value();
                // Concat the new suggested ingredients after
                vm.ingredients = _.orderBy(checkedIngredients, 'label').concat(
                  _.orderBy(new_ingredients, ['weight', 'label'], ['desc', 'asc']));
              });
            } else {
              // With fewer than 3 ingredients, suggest the whole list
              make_api_request('ingredients/').then(function(ingredients) {
                vm.ingredients = _(ingredients).filter(function(i) {
                  return i.is_trivial == false && i.weight > 0;
                }).orderBy(['weight', 'label'], ['desc', 'asc']).value();
              });
            }
          }
        }
      });
    });
  </script>
</head>
<body>
  {% verbatim %}
  <div id="recipes_list" v-if="recipes" style="display: flex;">
    <ul>
      <li v-for="ingredient in ingredients">
        <input type="checkbox" v-on:change="changeFilter(ingredient.id, $event)"
               v-bind:id="fieldName(ingredient)" v-bind:value="ingredient.id"
               v-model="inventory">
        <label v-bind:for="fieldName(ingredient)">{{ingredient.label}}</label>
      </li>
    </ul>
    <ul>
      <li v-for="recipe in recipes">
        <h3>{{ recipe.label }}</h3>
        <ul>
          <li v-for="ingredient in recipe.ingredients">
            {{ingredient.label}}
            <span v-if="ingredient.quantity">({{ingredient.quantity}})</span>
            <em v-if="ingredient.optional">Optional</em>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  {% endverbatim %}
</body>
</html>
