<h2>Ingredients</h2>
<app-ingredients-filter-section
  [suggestions]="suggestions.suggestedIngredients() | async | callback: isFavorited"
  [sortKey]="'weight'"
  [heading]="'Favorited'">
</app-ingredients-filter-section>

<app-ingredients-filter-section
  [suggestions]="suggestions.suggestedIngredients() | async | callback: isSuggestion"
  [sortKey]="'weight'"
  [heading]="'Suggestions'">
</app-ingredients-filter-section>

<app-ingredients-filter-section
  [suggestions]="suggestions.suggestedIngredients() | async | callback: isCommon"
  [sortKey]="'occurrences'"
  [heading]="'Common'">
</app-ingredients-filter-section>

<app-ingredients-filter-section
  [suggestions]="suggestions.suggestedIngredients() | async | callback: isBlacklisted"
  [sortKey]="'occurrences'"
  [heading]="'Blacklist'">
</app-ingredients-filter-section>
