<div *ngIf="ingredients.length > 0; else nocontent">
  <ul class="ingredient-list">
    <li *ngFor="let ingredient of ingredients | slice: 0:viewport">
      <app-ingredient-item [ingredient]="ingredient"></app-ingredient-item>
    </li>
  </ul>

  <a class="link" *ngIf="viewport !== undefined && ingredients.length > viewport" (click)="expand()">
    More
  </a>

  <a class="link" *ngIf="viewport === undefined" (click)="shrink()">
    Fewer
  </a>
</div>
<ng-template #nocontent>
  <p>
    <ng-content></ng-content>
  </p>
</ng-template>
