<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script>
    api_base_url = '/';
    function make_api_request(url, params) {
      var myHeaders = new Headers();

      var myInit = { method: 'GET',
                     headers: myHeaders,
                     mode: 'cors',
                     cache: 'default' };

      var params_string = '';
      if(params) {
        params_string = '?' + $.param(params);
      }

      var myRequest = new Request(api_base_url + 'api/' + url + params_string);

      return fetch(myRequest,myInit).then(function(response) {
        return response.json();
      });
    }

    window.addEventListener('load', function () {
      var recipes_vue = new Vue({
        el: '#recipes_list',
        data: {
          recipes: null,
          ingredients: null,
          inventory: []
        },
        mounted: function () {
          var vm = this;
          console.log("Loading dynamic values");
          make_api_request('recipes/', {'limit_to': ''}).then(function(recipes) {
            vm.recipes = recipes;
          });
          make_api_request('ingredients/').then(function(ingredients) {
            vm.ingredients = ingredients;
          });
        },
        methods: {
          changeFilter: function(ingredient, event) {
            var vm = this;

            console.log(ingredient)
            if(event.target.checked) {
              console.log("Adding ingredient " + ingredient)
              // Adding an ingredient
              inventory = _.map(this.inventory, "id");
              inventory.unshift(ingredient);
              make_api_request(
                'recipes/',
                 {'limit_to': _.join(inventory, ','),
                  'has_ingredient': ingredient
               }).then(function(new_recipes) {
                  console.log("New recipes: " + new_recipes);
                  vm.recipes = vm.recipes.concat(new_recipes);
                });
            } else {
              console.log("Removing ingredient " + ingredient)
              // Removing an ingredient, unload any recipes that require it
              _.remove(this.recipes, function(recipe) {
                console.log(recipe.ingredients)
                console.log(recipe.ingredients.includes(ingredient))
                return recipe.ingredients.includes(ingredient);
              });
            }
          }
        }
      });
    });

    Vue.component('recipe-item', {
      props: ['recipe'],
      template: '<h3>{{ recipe.label }}</h3>',
    })
  </script>
</head>
<body>
  <div id="recipes_list" v-if="recipes">
    <ul>
      <li v-for="ingredient in ingredients">
        <input type="checkbox" v-on:click="changeFilter(ingredient.id, $event)" v-bind:value="ingredient" v-model="inventory">{{ingredient.label}}</input>
      </li>
    </ul>
    <ul>
      <li v-for="recipe in recipes">
        <recipe-item v-bind:recipe="recipe"></recipe-item>
      </li>
    </ul>
  </div>
</body>
</html>
