<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script>
    api_base_url = '/';
    function make_api_request(url, params) {
      var myHeaders = new Headers();

      var myInit = { method: 'GET',
                     headers: myHeaders,
                     mode: 'cors',
                     cache: 'default' };

      var params_string = '';
      if(params) {
        params_string = '?' + $.param(params);
      }

      var myRequest = new Request(api_base_url + 'api/' + url + params_string);

      return fetch(myRequest,myInit).then(function(response) {
        return response.json();
      });
    }

    function process_recipes(recipes, ingredients) {
      return _.map(recipes, function(recipe) {
        recipe.ingredients = _.map(recipe.ingredients, function(id) {
          return ingredients[id];
        });
        return recipe;
      });
    }

    window.addEventListener('load', function () {
      var recipes_vue = new Vue({
        el: '#recipes_list',
        data: {
          recipes: null,
          ingredients: null,
          ingredients_map: null,
          inventory: []
        },
        mounted: function () {
          var vm = this;
          console.log("Loading dynamic values");
          Promise.all([
            make_api_request('ingredients/'),
            make_api_request('recipes/', {'limit_to': ''})
          ]).then(function(data) {
            var [ingredients, recipes] = data;

            vm.ingredients = _.orderBy(ingredients, 'recipe_count', 'desc');
            vm.ingredients_map = _.keyBy(ingredients, 'id');
            vm.recipes = process_recipes(recipes, vm.ingredients_map);
          });
        },
        methods: {
          changeFilter: function(ingredient, event) {
            var vm = this;

            if(event.target.checked) {
              console.log("Adding ingredient " + ingredient)
              // Adding an ingredient
              inventory = _.map(this.inventory, "id");
              inventory.unshift(ingredient);
              make_api_request(
                'recipes/',
                {'limit_to': _.join(inventory, ','),
                 'has_ingredient': ingredient}
              ).then(function(new_recipes) {
                new_recipes = process_recipes(new_recipes, vm.ingredients_map)
                vm.recipes = vm.recipes.concat(new_recipes);
              });
            } else {
              console.log("Removing ingredient " + ingredient)
              // Removing an ingredient, unload any recipes that require it
              _.remove(this.recipes, function(recipe) {
                return recipe.ingredients.includes(ingredient);
              });
            }
          },
          fieldName: function(ingredient) {
            return 'ingredient_' + ingredient.id;
          }
        }
      });
    });
  </script>
</head>
<body>
  <div id="recipes_list" v-if="recipes" style="display: flex;">
    <ul>
      <li v-for="ingredient in ingredients">
        <input type="checkbox" v-on:click="changeFilter(ingredient.id, $event)"
               v-bind:id="fieldName(ingredient)" v-bind:value="ingredient"
               v-model="inventory">
        <label v-bind:for="fieldName(ingredient)">{{ingredient.label}}</label>
        ({{ingredient.recipe_count}})
      </li>
    </ul>
    <ul>
      <li v-for="recipe in recipes">
        <h3>{{ recipe.label }}</h3>
        <ul>
          <li v-for="ingredient in recipe.ingredients">{{ingredient.label}}</li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>
