/* You can add global styles to this file, and also import other style files */
.button-positive-active {
  background: #7A7;
}

.button-negative-active {
  background: #F77;
}

.button-neutral-active {
  background: #99F;
}

.button-neutral {
  background: #EEE;
}

p {
  padding-left: 2em;
}

.main-columns {
  display: flex;
}

a.link {
  cursor: pointer;
  color: #44A;
}

ul.recipe-list {
  list-style: none;
}

ul.recipe-list>li {
  border: 1px solid #aaa;
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 0.7rem 0.4rem 0.4rem 0.7rem;
  margin-bottom: 2rem;
}

ul.ingredient-list>li {
  margin: 0.3rem 0 0.3rem 0;
}

.recipe-item em {
  font-weight: 600;
  font-style: normal;
}
