<div [ngClass]="{'ingredient-favorited': ingredient.favorited, 'ingredient-blocked': ingredient.blocked}">
  <span class="ingredient-label">
    {{ingredient.label}}
  </span>

  <button *ngIf="!ingredient.favorited" (click)="ingredient.favorited = true"
    class="button-neutral">✓</button>
  <button *ngIf="ingredient.favorited" (click)="ingredient.favorited = false"
    class="button-positive">✓</button>

  <button *ngIf="!ingredient.blacklisted" (click)="ingredient.blacklisted = true"
    class="button-neutral">x</button>
  <button *ngIf="ingredient.blacklisted" (click)="ingredient.blacklisted = false"
    class="button-negative">x</button>
</div>
